* {
  box-sizing: border-box;
}

body {
  background-image: url("/images/background.jpg");
  background-repeat: repeat;  
}

img {
  display: block;
  width: 256px;
  margin: 30px auto;
  box-shadow: 0 5px 10px -7px #333333;
  border-radius: 50%;
}

.button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

